<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlEngine:server SYSTEM "server.dtd">
<sqlEngine:server xmlns:sqlEngine="http://com.baidu.sqlengine/">
    <system>
        <property name="useSqlStat">1</property>
        <!-- 1为开启实时统计、0为关闭 -->
        <property name="useGlobleTableCheck">0</property>
        <!-- 1为开启全加班一致性检测、0为关闭 -->
        <property name="defaultSqlParser">druidparser</property>
        <property name="sequnceHandlerType">2</property>
        <!--<property name="useCompression">1</property>--> <!--1为开启mysql压缩协议-->
        <!--<property name="fakeMySQLVersion">5.6.20</property>--> <!--设置模拟的MySQL版本号-->
        <!--<property name="processors">1</property>  -->
        <!--<property name="processorExecutor">32</property>  -->
        <!--默认为type 0: DirectByteBufferPool | type 1 ByteBufferArena-->
        <!--<property name="processorBufferPoolType">0</property> -->
        <!--默认是65535 64K 用于sql解析时最大文本长度 -->
        <!--<property name="maxStringLiteralLength">65535</property>-->
        <!--<property name="sequnceHandlerType">0</property>-->
        <!--<property name="backSocketNoDelay">1</property>-->
        <!--<property name="frontSocketNoDelay">1</property>-->
        <!--<property name="processorExecutor">16</property>-->

        <property name="serverPort">8066</property>
        <property name="managerPort">9066</property>

        <property name="handleDistributedTransactions">0</property>

        <!--
        off heap for merge/order/group/limit      1开启   0关闭
    -->
        <property name="useOffHeapForMerge">1</property>

        <!--
            单位为m
        -->
        <property name="memoryPageSize">1m</property>

        <!--
            单位为k
        -->
        <property name="spillsFileBufferSize">1k</property>

        <property name="useStreamOutput">0</property>

        <!--
            单位为m
        -->
        <property name="systemReserveMemorySize">384m</property>
    </system>

    <user name="root">
        <property name="password">root</property>
        <property name="schemas">testdb</property>

        <!-- 表级 DML 权限设置 -->
        <!--
        <privileges check="false">
            <schema name="TESTDB" dml="0110" >
                <table name="tb01" dml="0000"></table>
                <table name="tb02" dml="1111"></table>
            </schema>
        </privileges>
         -->
    </user>

    <user name="user">
        <property name="password">user</property>
        <property name="schemas">testdb</property>
        <property name="readOnly">true</property>
    </user>

</sqlEngine:server>